/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* Base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
  overflow-x: hidden; /* Remove horizontal scrollbar */
  overflow-y: hidden; /* Remove vertical scrollbar */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  body {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}
